.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "profile";
}

.profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "information cards cards"
        "information cards cards"
        "information cards cards";
    grid-area: profile;

}

.information {
    display: grid;
    grid-template-columns: 1fr 1.2fr 0.8fr;
    grid-template-rows: 1.7fr 0.3fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "profileInfo profileInfo profileInfo"
        "cardsInfo cardsInfo cardsInfo"
        "cardsInfo cardsInfo cardsInfo";
    grid-area: information;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

}

.profileInfo {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-area: profileInfo;
}

.cardsInfo {
    grid-area: cardsInfo;
    border-top: 2px solid black;

}

.cards {
    grid-area: cards;
    font-size: 30px;
    color: #910505;
    font-weight: 900;
    text-align: center;
    /* margin-right: 300px; */
    border-bottom: 2px solid black;

}

.infoByUser {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.infoAvatar {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
    align-self: flex-start;
    margin-top: 10px;

}

.infoUser {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
    align-self: center;
}


.photo {
    height: 80px;
    width: 80px;
    border-radius: 50%;

}
.textInCardsInfo {
    text-align: center;
}

.styleForEditableSpan {
    display: block;
}